@font-face {
  font-family: "sourcesanspro";
  src: local("sourcesanspro"), url("../fonts/sourcesanspro.ttf") format("truetype");
  font-weight: bold;
}

* {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "sourcesanspro";
  box-sizing: border-box;
}

.page-container {
  background-color: rgb(203, 206, 28);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  background-color: white;
  flex: 1;
}
