.timelineheading {
  display: flex;
  background-color: rgb(245, 245, 246);
  font-size: 2rem;
  max-width: 100%;
  padding: 2.5rem 0 2.5rem 0;
  align-items: center;
  justify-content: center;
}

.timeline {
  position: relative;
  max-width: 992px;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}


.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(245, 245, 246);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.containert {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


.containert::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -11px;
  background-color: rgb(247, 108, 108);
  border: 4px solid rgb(247, 108, 108);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.left {
  left: 0;
}


.right {
  left: 50%;
}


.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}


.right::after {
  left: -12px;
}


.textbox {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: left;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(47, 28, 80, 0.2) 0px 1px 10px 0px;
  padding: 1.5rem;
}


@media screen and (max-width: 600px) {
  
  .timeline::after {
    left: 31px;
  }


  .containert {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }


  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }


  .left::after,
  .right::after {
    left: 19px;
  }


  .right {
    left: 0%;
  }
}

.datum {
  font-size: 0.9rem;
}
