.blackbar-section {
  background-color: black;
  overflow: auto;
}
.blackbar-section__logo-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 992px;
}
.brand-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.brand__logo {
  max-height: 45px;
  padding: 0.25rem;
}
