.content-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  max-width: 992px;
}
.content-section{
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  padding: 2.5rem 2.5rem 0 2.5rem;
}
.sr-only {
  /* props to Kitty */
  /* https://kittygiraudel.com/snippets/sr-only-class/ */
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.content-vid {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.content-iblock {
  display: flex;
}

.content-p {
  text-align: left;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.content-image {
  width: 100%;
}