.main-footer {
  background-color: rgb(245, 245, 246);
  padding: 2.5rem 0.75rem 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.containerf {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 992px;
}

.main-footer ul {
  list-style: none;
}

.main-footer li {
  color: rgb(33, 33, 33);
  padding-bottom: 0.2rem;
  font-size: 16px;
  display: block;
}
