.footer {
  background-color: rgb(245, 245, 246);
  padding: 2.5rem 0.75rem 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  --utrecht-link-text-decoration: none;
  --utrecht-link-hover-color: var(--demodam-color-black);
  --utrecht-link-color: var(--demodam-color-black);
}

.footer__container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 992px;
}

.footer ul {
  list-style: none;
}

.footer li {
  color: rgb(33, 33, 33);
  padding-bottom: 0.2rem;
  font-size: 16px;
  display: block;
}
