.headerNav {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
}
.headerList {
  list-style-type: none;
  display: flex;
}
.headerLogo {
  display: flex;
  justify-content: end;
}
.nav-item {
  display: inline-block;
  margin: auto;
}
.nav-link {
  text-decoration: none;
  margin: 0.5rem;
  color: black;
}
