.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 0 2rem;
  width: 60%;
  max-width: 58rem;
  
}
.logo-button-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerNav {
  justify-content: center;
}
.headerNav:not([hidden]) {
  display: flex;
}
.headerList {
  list-style-type: none;
  display: flex;
}
.headerLogo {
  display: flex;
}
.nav-item {
  display: inline-block;
  margin: auto;
}
.nav-link {
  text-decoration: none;
  margin: 0.5rem;
  color: black;
}
.nav-burger {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black
}

@media(max-width:820px) {
  .header {
    justify-content: space-between;
    width: 100%;
  }
  .logo-button-head {
    justify-content: space-between;
    width: 100%;
  }
  .headerNav {
    justify-content: space-around;
  }
  .headerNav:not(.headerNav--expanded) {
    display: none;
  }

  .headerLogo {
    flex-grow: 1;
  }

  .nav-burger {
    display: block;
    margin: auto 0;
  }

  .nav-burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav-burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav-burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .headerList {
    position: fixed;
    visibility: hidden;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: rgb(215, 219, 0);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .headerList.active {
    left: 0%;
    visibility: visible;
  }
  
}