.hero-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 992px;
  margin: 2rem auto;
  padding: 0 3.5rem;
}

.heading1 {
  color: rgb(0, 0, 0);
  font-size: 44px;
  font-weight: 700;
}
.heading3 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-style: italic;
  line-height: 30px;
}
.content-hero {
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 30px;
}
.lowerlink {
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 30px;
}

.imghero {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 720px) {
  .imghero {
    display: none;
  }
}
