.hero-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 992px;
  margin: 2rem auto;
  padding: 0 3.5rem;
}

.heading1 {
  color: rgb(0, 0, 0);
  font-size: 44px;
  font-weight: 700;
}
.heading3 {
  font-size: var(--demodam-typography-scale-24-font-size) !important;
  font-style: var(--demodam-typography-font-style-italic);
  line-height: var(--demodam-typography-line-height-30);
}
.content-hero {
  font-size: var(--demodam-typography-scale-18-font-size) !important;
  line-height: var(--demodam-typography-line-height-30) !important;
}

.lowerlink {
  --utrecht-link-color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 30px;
  text-decoration: none !important;
  border-bottom: solid black 1px;
}

.imghero {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 720px) {
  .imghero {
    display: none !important;
  }
}
