* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

.page-container {
  background-color: rgb(203, 206, 28);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  background-color: white;
  flex: 1;
}

li {
  font-weight: 400;
}
