.table-container {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 5.1rem;
}

.table-content-organisatie {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
.table-content-showcase {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.container-lower {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .container-lower {
    flex-direction: column;
  }

  .table-container {
    flex-direction: column;
  }
}
